server/.env
server/queries
server/target/

client/target/
target

ai/*.npy
ai/*.keras
ai/__pycache__/

# Ignora anche altri file temporanei di editor (come quelli di VS Code)
.vscode/
.idea/
ai/dataset/

ca/
